doctype html
html(lang='en', ng-app="app")
	head
		title React Tut
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

	body
		h1 My webpack page
		script(type="text/javascript", src="./js/script.min.js")
